$primary-color: #408E91;
$second-color: #fff;
$third-color: #245953;
$fourth-color: rgba(216, 216, 216, 0.5);
$error-color: #E49393;

$text-color: #000;

$heightHeader: 80px;

$font: 'Inter Tight', sans-serif;

